openapi: 3.2.0
info:
  title: Marqeta DiVA Views API
  description: The Marqeta DiVA (Data Insights, Visualization, and Analytics) API is a RESTful interface that provides programmatic access to production data from a Marqeta card program.
  version: '2'
  contact:
    name: Marqeta Support
    url: https://www.marqeta.com/company/contact
    email: support@marqeta.com
  termsOfService: https://www.marqeta.com/api-terms
servers:
- url: https://diva-api.marqeta.com/data/v2
  description: Production Server
security:
- basicAuth: []
tags:
- name: Views
  description: View endpoints provide programmatic access to aggregated platform data derived from card program activity. Each view represents a specific dataset such as transactions, balances, or card states, aggregated at a configurable time level.
paths:
  /views:
    get:
      operationId: listViews
      summary: List available views
      description: Returns a list of all available view endpoints for the DiVA API. Each view provides access to a specific type of program data aggregated at a defined level. Use this endpoint to discover which datasets are available for your program.
      tags:
      - Views
      parameters:
      - $ref: '#/components/parameters/program'
      responses:
        '200':
          description: A list of available view endpoints.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewsListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Unauthorized. The provided application token and access token credentials are invalid or missing.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad request. One or more required query parameters are missing or contain invalid values.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    program:
      name: program
      in: query
      required: true
      description: The name of your Marqeta card program. This parameter is required for most DiVA API endpoints to scope the data to your program.
      schema:
        type: string
  schemas:
    ViewsListResponse:
      type: object
      description: Response containing the list of available DiVA API view endpoints.
      properties:
        views:
          type: array
          description: Array of available view endpoint descriptors.
          items:
            type: object
            properties:
              name:
                type: string
                description: Name of the view endpoint.
              path:
                type: string
                description: URL path for the view endpoint.
              description:
                type: string
                description: Description of the data provided by this view.
              time_aggregations:
                type: array
                description: Supported time aggregation levels for this view.
                items:
                  type: string
    ErrorResponse:
      type: object
      description: Standard error response returned by the Marqeta DiVA API.
      properties:
        error_code:
          type: string
          description: Machine-readable error code.
        error_message:
          type: string
          description: Human-readable error description.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication. Use your application token as the username and your access token as the password. Contact your Marqeta representative to obtain DiVA API credentials.
externalDocs:
  description: Marqeta DiVA API Documentation
  url: https://www.marqeta.com/docs/diva-api/introduction
